[submodule "afids-conda-package"]
	path = afids-conda-package
	url = https://github.com/Cartography-jpl/afids-conda-package.git
[submodule "isis-install-supplement"]
	path = isis-install-supplement
	url = https://github.com/Cartography-jpl/isis-install-supplement.git
